* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 99vh;
  overflow: hidden;
  position: relative;
}
#main .mySwiper {
  width: 100%;
  height: 100%;
}
#main .mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#main .mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .mySwiper .swiper-slide .text-overlay {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 400px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
}
#main .mySwiper .swiper-slide .text-overlay .description {
  font-size: 1.2em;
}
#main .mySwiper .swiper-slide #btnBar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 1.4em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#main .swiper-pagination-bullet {
  width: 12px;
  height: 10px;
  background-color: azure;
  border: 1px solid black;
  opacity: 1;
  transition: all 0.25ms ease;
}
#main .swiper-pagination-bullet:hover {
  transform: scale(1.6);
}
#main .swiper-pagination-bullet-active {
  background-color: azure;
}
#main .offcanvas-animate {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
#main .offcanvas-animate.show {
  transform: translateX(0);
}
#main .offcanvas-animate.hide {
  transform: translateX(-100%);
}
#main .offcanvas.offcanvas-start {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.connect {
  padding: 10px 0px 40px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/picts/ubisoftConnectWallpaper.png");
}
.connect .img-fluid {
  margin: -60px auto;
  height: 260px;
  display: block;
  max-width: 600px;
}
.connect .cheat {
  color: azure;
  font-size: 1.6em;
  margin: 40px auto;
  text-align: center;
  padding-bottom: 0px;
}
.connect #btnDownload {
  margin: -15px auto;
  padding: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.25ms ease;
  border: 1px solid azure;
  background-color: transparent;
}
.connect #btnDownload:hover {
  transform: scale(1.2);
  background-color: azure;
}
.connect #btnDownload a {
  color: azure;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}
.connect #btnDownload a:hover {
  color: black;
}

#worlds {
  width: 100vw;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}
#worlds .mySwiper {
  width: 100%;
  height: 100%;
}
#worlds .mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#worlds .mySwiper .swiper-slide .col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
}
#worlds .mySwiper .swiper-slide .col-lg-3 img {
  max-width: 400px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#worlds .mySwiper .swiper-slide .col-lg-3 img:hover {
  opacity: 1;
  transform: scale(1.1);
}/*# sourceMappingURL=index.css.map */